.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.hero img {
  border-radius: 50%;
  /* margin-top: 150px; */
  margin-top: 50px;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}
.hero h1 span {
  color: #a4161a;
}
.hero p {
  /* width: 50%; */
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 20px 20px;
  border-radius: 50px;
  background: #a4161a;
  cursor: pointer;
}
.hero-resume{
    padding: 20px 20px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    background-color: #a4161a;
}