.back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-btn {
  background-color: #25d366;
  padding: 8px 10px;
  border-radius: 50%;
  
  align-items: center;
}
.top-btn--icon{
  color: #111B21;
  font-size: 30px;
}