.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-btn {
  background-color: #a8eb12;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 25px;
  align-items: center;
}
