.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px 170px; */
  margin: 20px 80px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  transition: 0.3s;
}

.nav-connect {
  padding: 20px 20px;
  background: #051937;
  font-size: 22px;
  cursor: pointer;
}
/* .nav-connect:hover {
  transform: scale(1.05);
} */
.anchor-link {
  text-decoration: none;
  color: white;
}
