@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background: seagreen; */
  /* background-color: black; */
  background-color: #111B21;
  font-family: "Outfit", sans-serif;
}
